
:root {
      --blue: #1e90ff;
      --white: #ffffff;
      --background-color: #303030;
      --color-one: #1d3949;
      --color-two: #225d80;
      --color-three: #227d80;
      --color-whiteish: #f0ebeb;
      --padding-small: .5rem;
      --padding-mid: 1rem;
      --padding-big: 2.5rem; 
      --atom-spinner-color: hsl(343, 100%, 56%);
      --atom-spinner-duration: 2s;
      --atom-spinner-size: 150px;
  }
  
  * {
      margin: 0;
      padding: 0;
  }
  
  html {
      height: 100%;
      font-size: 62.5%;
  }
  
  body {
      box-sizing: border-box;
      min-height: 100vh;
      position: relative;
      font-family: sans-serif;
      background: var(--background-color);
  }
  
  .spinner-start {
      z-index: +1;
      position: absolute;
      top:40%;
      right: 40%;
      bottom: 40%;
      left:40%;
  }
  
  .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  
  .spinner-stop {
      display: none;
  }
  .interactive-group-chat {
      max-height: 100vh;
  }
  .interactive-group-chat-hidden {
    /*  visibility: hidden*/
  }
  
  .interactive-group-chat-visible {
      visibility: visible
  }
  
  /*
  .page-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--color-whiteish);
      font-size: 1.2rem;
  }
  
  .logo-container {
      width: 75px;
      padding: var(--padding-small)
  }*/
  
  :root {
      --primary: #1e90ff;
      --secundary: #ffffff;
      --tertiair: lightgrey;
      --quartiar: black;
      --color-warning: red;
      --margin-big: 30px;
      --margin: 15px;
      --padding: 15px;
      --font-size: 1.4rem;
      --font-family: sans-serif;
      --font-size-video-button: 2rem;
  
      --button-box-height: 120px;
      
      --button-background-color: var(--primary);   
      --button-padding: var(--padding);
      --button-margin: var(--margin-big);
      --button-border-color: var(--secundary);
      --button-color: var(--secundary);
      --button-border-width: 3px;
      --button-font-family: var(--font-family);
      --button-font-size: 1.1rem;
      --button-font-weight: bold;
      --button-border-width-hover: 0px;
       
   }
  