* {
  box-sizing : border-box;
}

:root {
  --margin: 2rem;
  --padding: 1rem;
  --font-family: sans-serif;
  --font-size: 1.2rem;
  --primary-color: #04AA6D;
  
  --w3-background-color: #04AA6D;
  --w3--background-color: #059862 !important;
  --w3--background-color: #282A35!important;
  --w3--background-color-hover: #000!important;
  --w3-grey-background-color: #E7E9EB;
  
 
  --secundairy-color: #282A35 ;
  --tertiair-color: #D9EEE1!important;
  --button-box-height: 3.5rem;
  --button-box-width: 100%;
  --button-background-color: var(--primary-color);
  --button-background-color-hover: #08462f;
  --button-padding: 5px 20px 5px;
  --button-margin: 5px 20px 5px;
  --button-border-color: var(--secundary);
  --button-color: white;
  --button-font-family: var(--font-family);
  --button-font-size: 1.1rem;
  --button-font-weight: bold;
  --button-border-width: 0px;
  --button-border-radius: 12px;
  --button-height: 3rem;
}

.button {
  background-color: var(--button-background-color);
  border-radius: 12px;
}

.button:hover {
  background-color: var(--button-background-color-hover);
}

.button-box {
  width: 100%;
}

.content {
  margin: 2rem;
  padding: 2rem;
}

body {
  background-color: var(--secundairy-color) !important;
  color: #E7E9EB;
}


#dialogDiv{
  display: none;
  position : fixed;
  z-index: 1;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow : auto;
  background-color: rgba(0,0,0,0.7);
  animation-name: open-dialog;
  animation-duration: 1s;

}

@keyframes open-dialog {
    from {opacity:0}
    to {opacity:1}
    
}

#dialog {
    background-color: var(--tertiair-color);
    margin : 20% auto;
    padding : 20px;
    width : 70%;
}

#dialogHeader {
  color: var(--secundairy-color) ;
  
}

svg {
  max-width: 1.6rem;
  max-height: 1.6rem    
}
path {
  fill: var(--secundairy-color);
}

path:hover {
  fill: var(--primary-color);
}

.opaque-button {
  border: none;
  background-color: transparent;
  outline: none;
}

.close-button {
  margin-left: auto;
  font-size: 2rem;
}

.button-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: var(--button-box-height);  
  width: 100%;              
}


.button {
  white-space: nowrap; 
  padding: var(--button-padding);
  margin: var(--button-margin);
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  color: var(--button-color);
  border-width: var(--button-border-width);
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--button-height);

  border-radius : var(--button-border-radius);

  cursor:pointer
}

/**youtube section */

.youtube-video-container {
  display: flex;
  flex-direction: column;
  background-color:  lightgrey;
  width: 100%;
}

.button-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: var(--button-box-height);  
  width: 100%;  
  padding-bottom : 1em;   
}


.btnbox-item {
  margin-left: 1.2em;
  margin-top : 1em;
  font-size: 1.6rem;        
}

.length{
   white-space: nowrap; 
   color: black;
}

.volume-span {
  display: flex;
  background-color:  grey;
  white-space: pre;
  align-items: center;
}

.opaque-button {
  border: none;
  background-color: transparent;
  outline: none;
}

.close-button {
   font-size: 2em;
   margin-top: 0.5em;
}

video {
  width: 100%;
  pointer-events: none;
}

video::-webkit-media-controls {
  display: none;
} 